.title-slide {
	background-color: #63718B;
  background-image: url(https://raw.githubusercontent.com/LeCampionG/logos/main/index.png);
	background-position: center bottom 70px;
	background-size: 75%;
	border-bottom: 0px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}
